.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    text-align: left;

  }
  

  .info {
    
    margin-bottom: 20px;
    margin-right: 100px;
    background-color: aqua;
  }

.name {
  font-size: 24px;
  font-weight: bold;
}

.gender {
  font-size: 18px;
  margin-bottom: 10px;
}

.status {
  font-size: 18px;
  margin-bottom: 10px;
}

.species {
  font-size: 18px;
  margin-bottom: 10px;
}

.origin {
  font-size: 18px;
  margin-bottom: 10px;
}

.image {
    width: 300px;
    height: auto;
  position: absolute;
    border-radius: 4px;
  }

