.card {
  position: relative;
  width: 260px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset 0px 2px 15px #19647E;
  background: #28AFB0;
  margin-bottom: 20px;
}

.btnClose {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  background-color: r;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.status {
  font-size: 14px;
}

.gender {
  font-size: 14px;
}

.btnFav {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:focus {
  outline: none;
}
